<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product App</title>
    <link rel="stylesheet" href="/assets/product_style.css">
</head>
<body>

    <div class="nav-bar"></div>
    <div id="app">

        <div class="product">

            <div class="product-image">
                <img v-bind:src="image" alt="">
            </div>

            <div class="product-info">
                <h1>{{ product }}</h1>
                <a :href="link">Here is a link to The Cut</a>
                <p v-if="inventory => 10">Product is in stock!</p>
                <p v-else-if="inventory < 10 && inventory > 0">Product is almost sold out!</p>
                <p v-else>Product is out of stock!</p>
                <p v-show="onSale">Product is on sale for 50% off</p>
                <ul>
                    <li v-for="item in details" :key="">
                        {{ item }}
                    </li>
                </ul>

                <div v-for="variant in variants" v-bind:key="variant.variantId">
                    <p>{{variant.variantColor}}</p>
                </div>

            </div>

        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>